    <br/>
    <footer>
        <br/>
        CST 336 Lab 5 - Express and MySQL | &copy; 2019 Austin Ah Loo
        <br/><br/>
        <a href="https://csumb.edu/scd" target="_blank"><img src="img/logo.png" alt="csumb logo" width="75" height="71"></a>
    </footer>
     
     </body>
</html>